<%= render 'shared/content_title', title: "Complete  Reservation" %>
 
<div class='container-fluid'>
<div class='well'>	
  <%= form_for @user do |f| %>
  <%= render 'shared/errors', obj: @user %>


<%=  f.label "Select a Day and Time" %>    
    <%= f.select("slot_id", slot_assigned_less_than_thirty.collect {|s| [ s.description, s.id ] }) %>
    <br /><br />

<%=  f.label "Select your instructor" %>    
    <%= f.select("instructor_id", Instructor.all.collect {|i| [ i.name, i.id ] }) %>
    <br /><br />
     
     <div class='control-group'>
      <%= f.label :role, 'Example: admin' %><br>
      <%= f.text_field :role %>
    </div>
    
    <%= f.submit (@user.new_record? ? "Register" : "Complete my reservation"), class: 'btn btn-success' %>
  <% end %>
 
  </div>
</div>
 