<%= render 'shared/content_title', title: 'Register' %>

<div class="container-fluid">
<div class='well'>
  <%= form_for @user do |f| %>
  <%= render 'shared/errors', obj: @user %>
    <div class='control-group'>
      <%= f.label :firstname, 'First name' %><br>
      <%= f.text_field :firstname %>
    </div>
    <br>
    <div class='control-group'>
      <%= f.label :lastname, 'Last name' %><br>
      <%= f.text_field :lastname %>
    </div>
    <br>
    <div class='control-group'>
      <%= f.label :email, 'Your Auburn UserID (7 characters)' %><br> 
      <%= f.text_field :email %>
    </div>
    <br>
    <div class='control-group'>
      <%= f.label :password %><br>
      <%= f.password_field :password %><br><br>
    </div>
    <%= f.submit (@user.new_record? ? "Register" : "Update Profile"), class: 'btn btn-success' %>
  <% end %>
  Already registered? <%= link_to login_path do %>
           
          login
        <% end %>
</div>
</div>


